<template>
    <div class="section_title">
        <rounder order='right' />
        <Title :title="title" />
        <rounder order='left' />
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Rounder from './Rounder.vue'
import Title from './Title.vue'

export default defineComponent({
    name: "SectionTitle",
    components: { Rounder, Title },
    props: {
        title: {
            type: String,
            required: true
        }
    }

})
</script>

<style lang="scss" scoped>
    .section_title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }

    .section_title  {
        h1 {
            margin: auto min(30px, 5vmin);
            display: inline;
            max-width: 50%;
            flex-shrink: 0;
            text-align: center;
        }
    }
</style>
