<template>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 499.465 499.465" style="enable-background:new 0 0 499.465 499.465;" xml:space="preserve">
<g>
	<g>
		<path d="M249.794,79.141c-23.345,0.334-46.369,5.491-67.627,15.147l32.427,32.427c11.414-3.423,23.285-5.078,35.2-4.907
			c72.747,0,147.84,79.787,184.32,128c-13.68,18.263-28.576,35.582-44.587,51.84l29.227,29.227
			c24.384-24.912,46.382-52.053,65.707-81.067C484.461,249.808,377.794,79.141,249.794,79.141z"/>
	</g>
</g>
<g>
	<g>
		<path d="M340.888,343.461c-26.027,20.845-57.821,33.205-91.093,35.413c-72.533,0-147.84-79.787-184.32-128
			c25.441-35.059,55.756-66.307,90.027-92.8l-29.867-29.867c-42.984,34.487-80.276,75.522-110.507,121.6
			c0,0,106.667,170.667,234.667,170.667c44.259-2.379,86.586-18.905,120.747-47.147L340.888,343.461z"/>
	</g>
</g>
<g>
	<g>
		
			<rect x="228.399" y="-82.109" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -103.4426 249.7321)" width="42.667" height="663.683"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: "Eyes"
})
</script>

<style lang="scss" scoped>
    svg {
        fill: var(--main-font-color);

        path {
            fill: var(--main-font-color);
        }
    }
</style>
